
OPENAI_API_KEY=your_openai_api_key_here

ENABLE_LIVEKIT_AGENT=true
LIVEKIT_URL=wss://ai-chatbot-3e0upqbw.livekit.cloud
LIVEKIT_API_KEY=APInHuSrXB5QtfV
LIVEKIT_API_SECRET=LcAgLNzyNtqtfyQVLi72BhTHKHXS3LlpFzKOLI829KC

STT_PROVIDER=openai
TTS_PROVIDER=openai
